* {
    box-sizing: border-box;
  }
  
  html, main {
      width: 100%;
  }
  body {
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    width: 100%;
  }
  
  nav,
  footer {
    background-color: black;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  a {
      text-decoration: none;
      color: white;
  }

  a.contact, a.arrows {
      color: black;
  }


  a.demo {
      color: black;
      padding: 10px;
      font-size: 32px;
  }

  a.git {
      color: black;
      font-size: 40px;
  }

  ul.nav-bar {
      float: right;  
      padding-right: 20px; 
      margin-top: 10px;
      margin-bottom: 10px;   
  }

  ul.contact-li {
    padding: 0px;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: right;
  }

  ul.about-contact-li {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding-left: 0px;
  }

  ul.demo-li {
      padding: 0px;
      margin-bottom: 40px;
      text-align: left;

  }

  ul.demo-li li {
      font-size: 40px; 
  }

  li {
      list-style: none;
      display: inline;
  }

  li.nav {
    font-size: 18px;
    display: inline;
    margin-left: 15px;
  }
  
  header {
    padding: 12% 0;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  section {
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .project {
    display: inline-block;
  }

  .project-info {
    float: left;
    width: 25%;
  }

  h1, h2, h3, ul.demo-li li {
    font-family: 'Alegreya Sans SC', sans-serif;
  }

  h2 {
      font-size: 52px;
      margin-bottom: 20px;
  }
  
  h3 {
    text-align: left;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  h1.header-name {
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  p.position {
    text-align: left;
    margin-top: 30px;
    font-size: 32px;
  }

  p {
    text-align: left;
  }

  p.tech {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  img.headshot {
    border-radius: 30px;
    margin-bottom: 20px;
    max-height: 480px;
  }

  .about-profile {
    display: inline-block;
  }

  .about-pic {
    float: left;
    width: 45%;
  }

  .about-info {
    float: right;
    width: 50%
  }

  .arrows {
    margin-bottom: 60px;
  }

  img.projects {
    border-radius: 10px;
    width: 70%;
    margin-top: 55px;
    margin-bottom: 10px;
  }

  footer {
    color: white;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }



  @media only screen and (max-width: 640px) {
      img.headshot {
          width: 80%;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      header {
          height: 600px;
      }

      h1.header-name {
          font-size: 48px;
          margin-top: 140px;
      }

      a.contact {
        font-size: 30px;
      }


      p.position {
          font-size: 16px;
          margin-top: 0px;
      }

      p {
          margin-top: 10px;
          text-align: justify;
      }

      hr.header-hr {
          margin-top: 0px;
      }

      footer {
        padding: 6px;
      }

      ul.nav-bar {
        float: none;
        padding: 0px;
      }
      
      ul.demo-li {
        margin-bottom: 20px;
      }

      li.nav {
          font-size: 12px;
          margin-left: 0px;
      }

      h2 { 
          font-size: 24px;
          margin-top: 40px;
      }

      h3 {
          font-size: 20px;
          margin-top: 0px;
      }

      p {
          font-size: 14px;
      }

      p.tech {
          font-size: 12px;
          margin-bottom: 10px;
      }

      ul.contact-li {
        padding: 0px;
        font-size: 36px;
        margin-top: 40px;
        margin-bottom: 90px;
        text-align: right;
    }

    ul.demo-li li {
        font-size: 20px;
        margin-bottom: 20px;
    }

    li.mail {
        padding-right: 0px;
    }
    a.demo {
        font-size: 18px;
    }

    .arrows {
      font-size: 16px;
    }

    a.git {
        font-size: 24px;
        margin-right: 6px;
    }

    img.projects, .about-pic, .about-info, .project-info {
        width: 100%;
        margin-top: 0px;
    }
  }
